@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    141deg,
    rgba(175, 229, 240, 1) 12%,
    rgba(177, 192, 222, 1) 67%
  );
}
.chatbot-popup {
  position: relative;
  width: 420px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #4e78cc;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #6d4fc2;
  background: #fff;
  border-radius: 50%;
}
.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  margin-right: -10px;
  background: none;
  transition: 0.2 ease;
}
.chat-header button:hover {
  background: #593bab;
  border-radius: 50%;
}
.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  overflow-y: auto;
  padding: 25px 22px;
  margin-bottom: 82px;
  scrollbar-width: thin;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  align-self: flex-end;
  fill: #fff;
  background: #6d4fc2;
  border-radius: 50%;
}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}
.chat-body .bot-message .message-text {
  background: #c6bdda;
  border-radius: 13px 13px 13px 2px;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  color: #fff;
  background: #593bab;
  border-radius: 13px 13px 3px 13px;
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chat-footer .chart-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 35px;
  outline: 1px solid #cccce5;
}
.chat-footer .chart-form:focus-within {
  outline: 2px solid #593bab;
}
.chart-form .input-message {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chart-form button {
  height: 35px;
  width: 35px;
  border: none;
  display: none;
  outline: none;
  cursor: pointer;
  font-size: 1.15rem;
  margin-right: 6px;
  color: #fff;
  flex-shrink: 0;
  border-radius: 50%;
  background: #3e1a70;
  transition: 0.2s ease;
}
.chart-form button:hover {
  background: #593bab;
}
.chart-form .input-message:valid ~ button {
  display: block;
}
